{
    "oidc_client_id": "<OIDC_CLIENT_ID>",
    "yjs_address": "<YJS_ADDRESS>",
    "yjs_resource_path": "<YJS_RESOURCE_PATH>",
    "contact_service_url": "<CONTACT_SERVICE_URL>",
    "sbfManagerHost": "<SBF_MANAGER_HOST>",
    "rasaEndpoint": "<RASA_NLU>"
}