<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SBF Dashboard</title>
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link href="css/styles.css" rel="stylesheet">
</head>

<body>

  <div class="container-fluid">
    <div class="panel panel-default">
      <div class="panel-body">

        <div class="row">
          <div class="col-xs-12">
            <h2>Container Dashboard</h2>
            <h4>Social Bot Framework</h4>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <h3>Status</h3>
          </div>
        </div>
        <div class="row">
          <div id="statusArea"></div>
        </div>
        <div class="row">
          <button class="btn btn-lg" onclick="window.open('http://127.0.0.1:8073/spaces/SBFModeling')">Open Modeling Space</button>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-12">
            <h3>ROLE Setup</h3>
              <input type="text" name="authToken" class="form-control" id="authInput" placeholder="authentication token">
              <button id="role" class="btn btn-lg">Genereate ROLE Setup</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-4">
            <button id="role" class="btn btn-lg restart-btn" type="button">Restart ROLE</button>
            <button id="role" class="btn btn-lg stop-btn" type="button">Stop ROLE</button>
          </div>
          <div class="col-xs-4">
            <button id="yjs" class="btn btn-lg restart-btn" type="button">Restart y-js server</button>
            <button id="yjs" class="btn btn-lg stop-btn" type="button">Stop y-js server</button>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-xs-8">
            <span>Web Connector</span>
          </div>
          <div class="col-xs-4">
            <button id="web" class="btn btn-lg upload-btn" type="button">Upload Property File</button>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <form id="webPropertyForm">
              <div class="form-group">
                <input name="httpPort" type="text" class="form-control" id="propertyInput1" aria-describedby="propertyHelp1" placeholder="httpPort" >
                <small id="propertyHelp1" class="form-text text-muted">httpPort</small>
              </div>
              <div class="form-group">
                <input name="httpsPort" type="text" class="form-control" id="propertyInput2" aria-describedby="propertyHelp2" placeholder="httpsPort" >
                <small id="propertyHelp2" class="form-text text-muted">httpsPort</small>
              </div>
              <div class="form-group">
                <input name="startHttp" type="text" class="form-control" id="propertyInput3" aria-describedby="propertyHelp3" placeholder="startHttp" >
                <small id="propertyHelp3" class="form-text text-muted">startHttp</small>
              </div>
              <div class="form-group">
                <input name="startHttps" type="text" class="form-control" id="propertyInput4" aria-describedby="propertyHelp4" placeholder="startHttps" >
                <small id="propertyHelp4" class="form-text text-muted">startHttps</small>
              </div>
              <div class="form-group">
                <input name="sslKeystore" type="text" class="form-control" id="propertyInput5" aria-describedby="propertyHelp5" placeholder="sslKeystore" >
                <small id="propertyHelp5" class="form-text text-muted">sslKeystore</small>
              </div>
              <div class="form-group">
                <input name="sslKeyPassword" type="text" class="form-control" id="propertyInput6" aria-describedby="propertyHelp6" placeholder="sslKeyPassword" >
                <small id="propertyHelp6" class="form-text text-muted">sslKeyPassword</small>
              </div>
              <div class="form-group">
                <input name="crossOriginResourceDomain" type="text" class="form-control" id="propertyInput7" aria-describedby="propertyHelp7" placeholder="crossOriginResourceDomain" >
                <small id="propertyHelp7" class="form-text text-muted">crossOriginResourceDomain</small>
              </div>
              <div class="form-group">
                <input name="crossOriginResourceMaxAge" type="text" class="form-control" id="propertyInput8" aria-describedby="propertyHelp8" placeholder="crossOriginResourceMaxAge" >
                <small id="propertyHelp8" class="form-text text-muted">crossOriginResourceMaxAge</small>
              </div>
              <div class="form-group">
                <input name="enableCrossOriginResourceSharing" type="text" class="form-control" id="propertyInput9" aria-describedby="propertyHelp9" placeholder="enableCrossOriginResourceSharing" >
                <small id="propertyHelp9" class="form-text text-muted">enableCrossOriginResourceSharing</small>
              </div>
              <div class="form-group">
                <input name="preferLocalServices" type="text" class="form-control" id="propertyInput10" aria-describedby="propertyHelp10" placeholder="preferLocalServices" >
                <small id="propertyHelp10" class="form-text text-muted">preferLocalServices</small>
              </div>
              <div class="form-group">
                <input name="xmlPath" type="text" class="form-control" id="propertyInput11" aria-describedby="propertyHelp11" placeholder="xmlPath">
                <small id="propertyHelp11" class="form-text text-muted">xmlPath</small>
              </div>
              <div class="form-group">
                <input name="defaultLoginUser" type="text" class="form-control" id="propertyInput12" aria-describedby="propertyHelp12" placeholder="defaultLoginUser" >
                <small id="propertyHelp12" class="form-text text-muted">defaultLoginUser</small>
              </div>
              <div class="form-group">
                <input name="defaultLoginPassword" type="text" class="form-control" id="propertyInput13" aria-describedby="propertyHelp13" placeholder="defaultLoginPassword" >
                <small id="propertyHelp13" class="form-text text-muted">defaultLoginPassword</small>
              </div>
              <div class="form-group">
                <input name="oidcProviders" type="text" class="form-control" id="propertyInput14" aria-describedby="propertyHelp14" placeholder="oidcProviders" >
                <small id="propertyHelp14" class="form-text text-muted">oidcProviders</small>
              </div>
              <button id="webPropertyFormSubmit" type="button" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>

      </div>
    </div>
  </div>

  <input id="upload-input" type="file" name="uploads[]"></br>

  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="javascript/upload.js"></script>
  <script src="javascript/status.js"></script>
</body>

</html>